.margin{
	padding-right: 20%;
	padding-left:20% ; 
	text-align: 
	justify;
	color:black;

}
.canvas{
	background-image: url("img/pink.png"); 
	padding-left: 3%; 
	padding-right:3%;
	font-family: algerian ;
}